
.list-group-item{
    display: inline-flex;
    justify-content: space-between;
}
.list-group-item:hover .x-container {
    display: inline-flex;
} 
.x-container{
    display: none;

}
.fa-x{
    color: lightcoral;
}
.fa-x:hover{
    color: red;
}
body{
    font-family: "Roboto", sans-serif;
    font-style: italic;
}